<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>

    <div>
        {% if usuario %}
        <h2>Formulario Actualizar Usuarios</h2>
        <br>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_table}}
            <input type="submit" name="opcion" value="Actualizar">


        </form>
        {% endif %}

        <div id="idMensaje">
            {% if mensaje %}
            {{mensaje}}
            {% endif %}
        </div>
        <br>
        <br>

        <a href="{% url 'crud_usuarios' %}">Volver</a>


    </div>


    
</body>
</html>